@font-face {
	font-family: "dancing_script";
	src: url("dancingscript-variablefont_wght-webfont.woff2") format("woff2"),
		url("dancingscript-variablefont_wght-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
